---
const { title } = Astro.props;
import { Wrench, Workflow, Star, Mail, Palette } from "lucide-react";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | AutoFix` : "AutoFix Taller Mecánico"}</title>
  </head>
  <body class="bg-gray-50 text-gray-800 font-sans">
  
    <main class="container mx-auto px-4 py-8">
      <slot />
    </main>

    <footer class="bg-gray-900 text-gray-300 text-center py-6 mt-10">
      <p>© {new Date().getFullYear()} AutoFix. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>